
* {
    color:#fff;
    font-family:Verdana;
}
.radioplayer {
    width:555px;
}
.radioplayer div {
/*    border:solid 1px #000;*/
}
.show-list ul {
    list-style:none;
    margin:16px 0 0 0;
}
.show-list ul li {
    border-top:dotted 1px #808081;
    height:16px;
    margin-bottom:4px;
    text-transform:uppercase;
    font-size:10px;
    font-weight:bold;
    line-height:20px;
}
.show-list ul li img {
    margin:4px 6px 0 0;
    float:left;
}

.radioplayer .show-list, .radioplayer .main-show {
    float:left;
    width:254px;
    background:#000;
    margin-right:7px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding:10px;
    height:193px;
    overflow:hidden;
    margin-bottom:8px;
    position:relative;
}
.radioplayer .show-list {
    margin-right:0;
}
.radioplayer .flash-player {
    float:right;
    width:200px;
    height:50px;
}
.radioplayer .player-banner {
    clear:both;
    margin-left:-1px;
}
.radioplayer .main-show #ms-picture {
    max-width:70px;
    max-height:62px;
    height:62px;
    width:70px;
    border:solid 1px #f8f181;
    float:left;
    margin-right:9px;
}
#ms-description {
    width:170px;
    float:left;
    font-size:10px;
    line-height:11px;
}
.jsondata {
    display:none;
}
.showname {
    cursor:pointer;
}
h2 {
    color:#f8f181;
    text-transform:uppercase;
    margin-bottom:6px;
    border-bottom:solid 1px #f8f181;
    font-size:12px !important;
    font-weight:bold !important;
    padding-bottom:6px !important;
}
h2#latest-title{
    color:#deeff4;
    border-bottom:solid 1px #deeff4;
}
.main-show .show-links {
    border-top:solid 1px #ccc;
    position:absolute;
    bottom:0;
    left:0;
    height:20px;
    width:100%;
    margin:10px;
    text-transform:uppercase;
    font-size:10px;
    font-weight:bold;
}
.show-links img {
    margin-top:3px;
    margin-right:3px;
    float:left;
}
.show-links a {
    color:#f8f181;
    text-decoration:none;
    float:left;
    margin-top:3px;
    margin-right:5px;
}
.show-links a:hover {
    text-decoration:underline;
}
.main-show-breakdown {
    margin-top:16px;
}
#ms-show-title {
    font-size:11px;
    font-weight:bold;
    line-height:11px;
    text-transform:uppercase;
}