<div class="radioplayer">
    <div class="logo"><img src="{{ skin.radio_logo.url }}" alt="Radio Logo" /></div>
    <div class="main-show">
        {% if main_show.series %}<h2>{{ main_show.series.title }}</h2>{% endif %}
        <h3>{{ main_show.title }}</h3>
        {% if main_show.live_description %}<div class="description">{{ main_show.live_description }}</div>{% endif %}
        {% if main_show.live_picture %}<image class="showpic" src="{{ main_show.live_picture }}" />{% endif %}
        <div class="show-links">
            {% if main_show.media %}<a href="{{ main_show.media.url }}">play</a>{% endif %}
            {% if main_show.allow_download %}
                <img class="download-icon" src="{% if skin.download_icon %}{{ skin.download_icon.url }}{% else %}{% endif %}">
                <a href="{{ main_show.download_link }}">Download</a>
            {% endif %}
            {% if main_show.allow_embed %}
                <img class="embed-icon" src="{% if skin.embed_icon %}{{ skin.embed_icon.url }}{% else %}{% endif %}">
                <a href="{{ main_show.embed_link }}">Embed</a>
            {% endif %}
        </div>
    </div>
    <div class="show-list">
        <h2>Latest shows</h2>
        <ul>
        {% for show in shows %}
            <li>
                {% if skin.show_list_icon %}
                    <img src="{{ skin.show_list_icon.url }}" />
                {% else %}
                    <img src="TODO: default" />
                {% endif %}
                <span class="showname">{{ show.title }}</span>
                {{ show.json_data }}
            </li>
        {% endfor %}
        </ul>
    </div>
    <div class="player-banner">
        {% if skin.banner_url %}<a href="{{ skin.banner_url }}" target="_blank">{% endif %}
        <img src="{{ skin.default_banner.url }}" />
        {% if skin.banner_url %}</a>{% endif %}
    </div>
</div>
