<div class="radioplayer">
    <div class="header">
        <img src="{{ skin.radio_logo.url }}" alt="Radio Logo" />
        <div class="flash-player">
            {% include 'radio/blocks/flashplayer.html' %}
        </div>
    </div>
    <div class="main-show">
        <h2 id="ms-series-title">{% if main_show.series %}{{ main_show.series.title }}{% else %}{{ main_show.title }}{% endif %}</h2>
        <div class="main-show-breakdown">
            <image id="ms-picture" src="{% if main_show.live_picture %}{{ main_show.live_picture }}{% endif %}" />
            <h3 id="ms-show-title">{{ main_show.short_title }}</h3>
            <div id="ms-description">{% if main_show.live_description %}{{ main_show.live_description }}{% endif %}</div>
            <div class="ms-player">
                {% comment %}<img class="play-icon" src="{% if skin.play_show_icon %}{{ skin.play_show_icon.url }}{% else %}{% endif %}" alt="Play show" />{% endcomment %}
                {{ main_show.flash_player }}
            </div>
            <div class="show-links">
                {% if main_show.allow_download %}
                    <img class="download-icon" src="{% if skin.download_icon %}{{ skin.download_icon.url }}{% else %}{% endif %}">
                    <a id="ms-download" href="{{ main_show.download_link }}">Download</a>
                {% endif %}
                {% if main_show.allow_embed %}
                    <img class="embed-icon" src="{% if skin.embed_icon %}{{ skin.embed_icon.url }}{% else %}{% endif %}">
                    <a id="ms-embed" href="{{ main_show.embed_link }}">Embed</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="show-list">
        <h2 id="latest-title">Latest shows</h2>
        <div class="show-list-container">
            <ul>
            {% for show in shows %}
                <li>
                    {% if skin.show_list_icon %}
                        <img src="{{ skin.show_list_icon.url }}" />
                    {% else %}
                        <img src="TODO: default" />
                    {% endif %}
                    <span class="showname">{{ show.full_title }}</span>
                    <div class="jsondata">{{ show.json_data }}</div>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
    <div class="player-banner">
        {% if skin.banner_url %}<a href="{{ skin.banner_url }}" target="_blank">{% endif %}
        <img src="{{ skin.default_banner.url }}" />
        {% if skin.banner_url %}</a>{% endif %}
    </div>
</div>
<script type="text/javascript" src="{{ MEDIA_URL }}js/radio.js"></script>
