{% load radio_tags %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>{{ page_title }}</title>
    <link href="{{ MEDIA_URL }}css/radio.css" rel="stylesheet" />
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}js/scrollers/jScrollPane.js"></script>
    <script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}js/scrollers/jquery.mousewheel.min.js"></script>
    <script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}js/scrollers/jquery.em.js"></script>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.1/build/reset/reset-min.css">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/jScrollPane.css" type="text/css" media="all" />
    <style type="text/css">
        html {
            {% if skin.base_background %}background: url('{{ skin.base_background.url }}') repeat;{% endif %}
        }
        #container {
            width:555px;
            margin:10px auto;
        }
    </style>
    <script>
    	$(function()
		{
			$('.scroll-pane').jScrollPane();
		});

    </script>
</head>
<body>

    <div id="container">
        {% if player_title %}<h1>{{ player_title }}</h1>{% endif %}
        <div id="radio-player">
            {% if slug %}
                {% radio_player slug %}
            {% else %}
                {% radio_player %}
            {% endif %}
        </div>
    </div>
</body>
</html>
