{% load radio_tags %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>spine radio test</title>
    <link href="{{ MEDIA_URL }}css/radio.css" rel="stylesheet" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.1/build/reset/reset-min.css">
    <style type="text/css">
        html {
            background:url('/media/images/bg.png') repeat;
        }
        #container {
            width:555px;
            margin:100px auto;
        }
    </style>
</head>
<body>
    <div id="container">

    <h1>The Generic Radio Player Build!</h1>

    <h2>Lets render out a radio player!</h2>
    <div id="radio-player">
        {% radio_player %}
    </div>

    <h2>Lets render out the banner!</h2>
    <div id="radio-banner">
        {% radio_banner %}
    </div>
    </div>
</body>
</html>
